<div class="main-container">
  <div class="item-container">
    <div class="card" style="--text: white">
      <div class="multi-btn">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> add </span>
        <span class="material-symbols-outlined"> info_i </span>
      </div>
    </div>
    <div class="card" style="--text: white">
      <div class="multi-btn">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> add </span>
        <span class="material-symbols-outlined"> info_i </span>
      </div>
    </div>
    <div class="card" style="--text: white">
      <div class="multi-btn">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> add </span>
        <span class="material-symbols-outlined"> info_i </span>
      </div>
    </div>
    <div class="card" style="--text: white">
      <div class="multi-btn">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> add </span>
        <span class="material-symbols-outlined"> info_i </span>
      </div>
    </div>
    <div class="card" style="--text: white">
      <div class="multi-btn">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> add </span>
        <span class="material-symbols-outlined"> info_i </span>
      </div>
    </div>
    <div class="card" style="--text: white">
      <div class="multi-btn">
        <span class="material-symbols-outlined"> favorite </span>
        <span class="material-symbols-outlined"> add </span>
        <span class="material-symbols-outlined"> info_i </span>
      </div>
    </div>
  </div>
</div>
