<div class="main-container">
  <div class="container-watches">
    <div class="watch-content" id="hublot-content" (click)="navToHublot()">
      <img src="../../../assets/image4.png" alt="" />
      <p>HUBLOT</p>
    </div>
    <div class="watch-content" id="rolex-content" (click)="navToRolex()">
      <img src="../../../assets/image5.png" alt="" style="margin-top: 80px" />
      <p>ROLEX</p>
    </div>
    <div class="watch-content" id="omega-content" (click)="navToOmega()">
      <img
        src="../../../assets/image6.png"
        alt=""
        style="margin-bottom: 30px"
      />
      <p>OMEGA</p>
    </div>
    <div class="watch-content" id="v-content" (click)="navToConstantin()">
      <img src="../../../assets/image7.png" alt="" style="margin-top: 40px" />
      <p>V.CONSTANTIN</p>
    </div>
  </div>
</div>
