.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #262626;
  padding-top: 10px;
  padding-bottom: 20px;
}

svg {
  align-self: center;
}

.container-watches {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: 0;
    left: 34%;
    border-bottom: 2px solid #ffffffcc;
  }
}

.watch-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-out;

  p {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }

  &:hover {
    animation-duration: 0.25s;
    filter: drop-shadow(-23px 7px 4px darken($color: rgba(128, 128, 128, 0.578), $amount: 60));
    transform: translate(15px, -10px);
  }
}

#hublot-content {
  gap: 20px;
}

#rolex-content {
  gap: 45px;
}

#v-content {
  gap: 18px;
}

.main-container:has(.watch-content:hover)
.watch-content:not(:hover) {
  filter: grayscale(100%) brightness(50%);
}
