<div class="context">
  <h1>ABOUT US</h1>
  <div class="main-container">
    <div class="paragraph-container">
      <p>
        Established in 2023 by Grisk and Tricise, 2 co-founder of the company.
        The logo is based on the combination of both co-founder first word in
        name.
      </p>
    </div>
    <div class="paragraph-container">
      <p>
        We always keep eyes on the latest trends in and put our customers wishes
        first. That is our goal to grow and thrilled to be a part of the watches
        lover industry. That is also why our slogan was born.
      </p>
    </div>
    <div class="paragraph-container">
      <p>
        The products we are selling guaranteed authentication and best price in
        the watches market. As we push our customers satisfaction on top, we
        ensure for the repairing as well of customer services.
      </p>
    </div>
  </div>
</div>
