<div class="navbar">
  <div class="logo">
    <img src="../../../assets/LOGO1.png" alt="" (click)="navToHome()" />
  </div>

  <div class="contents">
    <a class="features" (click)="navToHome()">HOME</a>
    <a class="features" (click)="navToWatches()">WATCHES</a>
    <a class="features" (click)="navToAccessories()">ACESSORIES</a>
    <a class="features" (click)="navToAboutUs()">ABOUT</a>
  </div>

  <div class="user-contents">
    @if (isLogin == false) {
    <span class="material-symbols-outlined" (click)="alertFalse()" on>
      account_circle
    </span>
    } @else {
    <img
      id="avatar-pic"
      [src]="getUserAvatarURL()"
      alt=""
      [matMenuTriggerFor]="menu"
    />
    } @if (isLogin == false) {
    <span class="material-symbols-outlined" (click)="alertFalse()">
      notifications
    </span>
    } @else {
    <span
      class="material-symbols-outlined"
      matBadge="3"
      matBadgeColor="warn"
      matBadgeSize="small"
    >
      notifications
    </span>
    } @if (isLogin == false) {
    <span class="material-symbols-outlined" (click)="navToLogin()">login</span>
    } @else if (isLogin == true) {
    <span class="material-symbols-outlined" (click)="logOut()"> logout </span>
    }
  </div>

  <div class="menu-icon" (click)="toggleMenu()">
    <span class="material-symbols-outlined">menu</span>
  </div>
</div>

@if(isSmallScreen){
  <div class="mobile-menu">
    <a class="features" (click)="navToHome()">HOME</a>
    <a class="features" (click)="navToWatches()">WATCHES</a>
    <a class="features" (click)="navToAccessories()">ACESSORIES</a>
    <a class="features" (click)="navToAboutUs()">ABOUT</a>
  </div>
}

<mat-menu #menu="matMenu">
  <button mat-menu-item class="dialog-btn">
    <span class="material-symbols-outlined"> manage_accounts </span>
    <span class="context">Account Setting</span>
  </button>
  <button mat-menu-item class="dialog-btn">
    <span class="material-symbols-outlined"> favorite </span>
    <span class="context">Favorites</span>
  </button>
  <button mat-menu-item class="dialog-btn">
    <span
      class="material-symbols-outlined"
      matBadge="1"
      matBadgeSize="small"
      matBadgeColor="warn"
    >
      shopping_cart
    </span>
    <span class="context">Your Cart</span>
  </button>
</mat-menu>
