<div class="navbar">
  <div class="logo">
    <img src="../../../assets/LOGO1.png" alt="" (click)="navToHome()" />
  </div>

  <div class="contents">
    <a class="features" (click)="navToHome()">HOME</a>
    <a class="features" (click)="navToWatches()">WATCHES</a>
    <a class="features" (click)="navToAboutUs()">ABOUT</a>
    <a class="features" (click)="navToAccessories()">ACESSORIES</a>
  </div>

  <div class="user-contents">
    @if (isLogin == false) {
    <span class="material-symbols-outlined"> account_circle </span>
    } @else {
    <img id="avatar-pic" src="../../../assets/unnamed.jpg" alt="" />
    } @if (isLogin == false) {
    <span class="material-symbols-outlined" (click)="alertFalse()">
      shopping_cart
    </span>
    } @else {
    <span class="material-symbols-outlined"> shopping_cart </span>
    } @if (isLogin == false) {
    <span class="material-symbols-outlined" (click)="navToLogin()">login</span>
    } @else if (isLogin == true) {
    <span class="material-symbols-outlined" (click)="logOut()"> logout </span>
    }
  </div>
</div>
