<div class="container">
  <div class="choices">
    <div class="accessories">
      <img
        src="../../../assets/7e5a20dd-0e9f-4bd5-a1ff-101f5c3e1968.44bf739c86d499ea76247ba7d4fd1905.png"
        style="width: 300px"
        alt=""
      />
      <p>RINGS</p>
    </div>
    <div class="accessories">
      <img
        src="../../../assets/21000461-front-940x529.png"
        style="width: 300px; height:300px"
        alt=""
      />
      <p>GLASSES</p>
    </div>
    <div class="accessories">
      <img
        src="../../../assets/belts-2.png"
        style="width: 300px; height: 300px"
        alt=""
      />
      <p>BELTS</p>
    </div>
    <div class="accessories">
      <img
        src="../../../assets/bracelets.jpg"
        style="width: 300px; height: 300px"
        alt=""
      />
      <p>BRACELETS</p>
    </div>
  </div>
</div>
