.picture-navbar {
  background: url(../../../assets/imageFrame.png);
  width: 100%;
  height: 29.688rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-image: fill 0 linear-gradient(rgba(207, 204, 204, 0.067),#262626);
}
