#container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px;
  background-color: lighten($color: #464444, $amount: 10);
  border-radius: 40px;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

#contents {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1ea935;
  margin-right: 8px;
  padding: 6px;
}

.icon__wrapper svg {
  stroke: white;
  stroke-width: 3px;
}

.icon_wrapper_error {
  display: flex;
  justify-content: center;
  align-items: center;
}



