<div id="container" role="status" aria-live="polite">
  <div class="icon__wrapper" *ngIf="isSuccess">
    <!-- check -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 12l5 5l10 -10"></path>
    </svg>
  </div>

  <div class="icon__wrapper" *ngIf="isError">
    <!-- x -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M18 6L6 18M6 6l12 12"></path>
    </svg>
  </div>

  <div class="icon__wrapper" *ngIf="isInfo">
    <!-- info -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="12" cy="12" r="9"></circle>
      <line x1="12" y1="8" x2="12" y2="8"></line>
      <line x1="12" y1="12" x2="12" y2="16"></line>
    </svg>
  </div>

  <div id="contents">
    <p>{{ data.message }}</p>
  </div>
</div>
