<form class="signup-container">
  <h1>SIGN UP</h1>
  <div class="input-container">
    <p>Username</p>
    <input type="text" class="user" />
  </div>
  <div class="input-container">
    <p>Email</p>
    <input type="text" class="user" />
  </div>
  <div class="input-container">
    <p>Password</p>
    <input type="password" class="password" />
  </div>
  <div class="input-container">
    <p>Confirm your password</p>
    <input type="password" class="password" />
  </div>
  <button id="btn-signup">Sign Up</button>
  <p id="member">
    Already a member?
    <a (click)="navToLogIn()">Log In</a>
  </p>
</form>
