.main-container {
  width: 100%;
  height: 50px;
  background: rgba(38, 38, 38, 0.5);
}

.context-container {
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 130px;
}

p {
  color: black;
  font-size: 19px;
}
