<div class="bottom-container">
  <div class="logo">
    <img src="../../../assets/images/LOGO1.png" alt="" />
  </div>

  <div class="policies">
    <span class="policies-contents">NEWSLETTER</span>
    <span class="policies-contents">CONTACT US</span>
    <span class="policies-contents">SERVICES</span>
    <span class="policies-contents">PRIVACY</span>
    <span class="policies-contents">LEGAL NOTICE & TERMS OF USER</span>
  </div>

  <div class="certification">
    © 2023 GrisC - All intellectual property rights reserved
  </div>
</div>
