.main-container {
  background-color: #262626;
  padding: 2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 20;
}

.item-container {
  display: grid;
  background-color: #262626;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
  padding: 2rem;
}

.card {
  position: relative;
  background: #1a1a1a;
  border-radius: 16px;
  overflow: hidden;
  color: white;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
    .multi-btn {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .multi-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s;

    span {
      background: #2e2e2e;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      font-size: 20px;

      // ✅ Specific button hover effects
      &.btn-favorite:hover {
        background: darken($color: red, $amount: 10);
        color: white;
        box-shadow: 0 0 1rem red;
      }

      &.btn-add:hover {
        background: green;
        color: white;
        box-shadow: 0 0 1rem green;
      }

      &.btn-info:hover {
        background: darken($color: white, $amount: 10);
        color: #262626;
        box-shadow: 0 0 1rem white;
      }
    }
  }
}

.product-image {
  height: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
}

.product-info {
  padding: 1rem;
  text-align: center;

  .collection {
    font-size: 0.75rem;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 0.25rem;
    letter-spacing: 1px;
  }

  .name {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-weight: bold;
    font-size: 1rem;
    color: #e53935;
  }
}
