//change the height of the background to match the size of the page ( need to do )
.picture-cover-navbar { 
  width: 100%;
  height: 31.875rem;
  background: url(../../../assets/image3.png);
  background-color: #262626;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  gap: 23.438rem;
  border-image: fill 0 linear-gradient(rgba(207, 204, 204, 0.067),#262626);
}

svg {
  align-self: center;
}
