.contents-nav-picture {
  width: 100%;
  height: 58rem;
  background: url(../../../assets/image17.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -2rem;
  display: flex;
  flex-direction: column;
  border-image: fill 0 linear-gradient(rgba(92, 90, 90, 0.067),#262626);
}
