<form [formGroup]="loginForm" class="login-container">
  <h1>WELCOME</h1>
  <div class="input-container">
    <p>Username</p>
    <input type="text" class="user" formControlName="username" />
  </div>
  <div class="input-container">
    <p>Password</p>
    <div class="password-holder">
      <input
        [type]="show ? 'text' : 'password'"
        id="password"
        formControlName="password"
      />
      @if (show == false) {
      <span
        class="material-symbols-outlined"
        id="toggle"
        (click)="passwordShow()"
      >
        visibility_off
      </span>
      } @else if (show == true) {
      <span
        class="material-symbols-outlined"
        id="toggle"
        (click)="passwordHide()"
      >
        visibility
      </span>
      }
    </div>
  </div>
  <div class="focuscheck">
    <label class="container"
      >Remember me
      <input type="checkbox" checked="checked" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="input-container">
    <button id="btn-login" (click)="handleClickMe()">Log In</button>
    <a href="/Login">Forget password ?</a>
  </div>
  <div class="input-container">
    <p id="other-login-text">Others way to signed in</p>
    <div class="methods">
      <img src="../../../assets/image 19.png" alt="" />
      <img src="../../../assets/image 20.png" alt="" />
    </div>
    <p id="sign-up" (click)="navToSignUp()">Click here to create account</p>
  </div>
</form>
