.login-container {
  background-color: transparent;
  backdrop-filter: blur(14px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 50px;
  margin-top: 160px;
}

h1 {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 30px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 7px;

  p {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
}

.user {
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  background-color: #464444;
  outline: none;
  font-size: 15px;
  border: 1px solid #464444;
  height: 15px;
  width: 250px;

  &:hover {
    background-color: lighten($color: #464444, $amount: 3);
    border-color: lighten($color: #464444, $amount: 3);
  }
}

#password {
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  background-color: #464444;
  outline: none;
  font-size: 15px;
  border: 1px solid #464444;
  height: 15px;

  &:hover {
    background-color: lighten($color: #464444, $amount: 3);
    border-color: lighten($color: #464444, $amount: 3);
  }
}

.focuscheck {
  display: block;
  height: 20px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  font-family: Roboto, sans-serif;

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #464444;
    border-radius: 4px;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: lighten($color: #464444, $amount: 5);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #464444;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0 2px 2px 2px;
}

#btn-login {
  background-color: #ffffffcc;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border: 1px solid #464444;
  color: #000;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 140px;
  align-self: center;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #ffffffcc, $amount: 10);
  }
}

a {
  text-align: center;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  text-underline-offset: 2px;

  &:hover {
    color: darken($color: white, $amount: 10);
  }
}

#other-login-text {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  letter-spacing: 2px;

}

.methods {
  display: flex;
  justify-content: center;
  gap: 12px;

  img {
    border-radius: 4px;
    cursor: pointer;
  }
}

#sign-up {
  text-align: center;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline 1px;
  text-underline-offset: 2px;
  cursor: pointer;

  &:hover {
    color: darken($color: white, $amount: 10);
  }
}
